*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.tablero{
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border: 2px solid #B97400;
  position: relative;
}

.mesa-roja{
  width: 140px;
  height: 140px;
  position: relative;
}

.mesa-roja-salida{
  width: 120px;
  height: 120px;
  background: rgba(255, 0, 0, 0.5);
  display: grid;
  gap: 10%;
  place-items: center;
  place-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.mesa-roja-salida > div{
  border: 1px solid rgb(255, 0, 0);
  border-radius: 50%;
  width:20px;
  height: 20px;
  text-align: center;
}

.mesa-roja-camino{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.mesa-roja-camino-1{
  width: 140px;
  height: 20px;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}

.mesa-roja-camino-1 > div{
  width: calc(100% / 6);
  border: 1px solid rgb(255, 0, 0);
}

.mesa-roja-camino-1-partes-3{
  background: rgb(255, 0, 0);
}

.mesa-roja-camino-1-partes-6{
  clip-path: polygon(0 0, 15% 0, 100% 100%, 0 100%);
}


/*PARTE DOS*/

.mesa-roja-camino-2{
  width: 20px;
  height: 140px;
  position: absolute;
  right: 0;
  transform: rotate(180deg);

}

.mesa-roja-camino-2 > div{
  height: calc(100% / 6);
  text-align: center;
  border: 1px solid rgb(255, 0, 0);
}

.mesa-roja-camino-2-partes-7{
  clip-path: polygon(0 0, 100% 85%, 100% 100%, 0% 100%);
}

.mesa-roja-camino-2-partes-10{
  background: rgb(255, 0, 0);
}



/*MESA AZUL*/

.mesa-azul{
  width: 140px;
  height: 140px;
  position: absolute;
  right: 0;
  top: 0;
}

.mesa-azul-salida{
  width: 120px;
  height: 120px;
  position: absolute;
  right: 0;
  top: 0;
  background:rgba(0, 0, 255, 0.5);
  display: grid;
  gap: 10%;
  place-items: center;
  place-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.mesa-azul-salida > div{
  border: 1px solid rgb(0, 0, 255);
  border-radius: 50%;
  width:20px;
  height: 20px;
  text-align: center;
}

.mesa-azul-camino{
  width: 100%;
  height:100%;
  position: relative;
}

.mesa-azul-camino-1{
  width: 20px;
  height: 140px;
}

.mesa-azul-camino-1 > div{
  height: calc(100% / 6);
  text-align: center;
  border: 1px solid rgb(0, 0, 255);
}

.mesa-azul-camino-1-partes-16{
  background: rgb(0, 0, 255);
}

.mesa-azul-camino-1-partes-19{
  clip-path: polygon(0 0, 100% 0, 100% 15%,0 100%);
}

/*PARTE DOS*/

.mesa-azul-camino-2{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 140px;
}

.mesa-azul-camino-2 > div{
  width: calc(100% / 6);
  height: 20px;
  border: 1px solid rgb(0, 0, 255);
}

.mesa-azul-camino-2-partes-23{
  background: rgb(0, 0, 255);
}

.mesa-azul-camino-2-partes-20{
  clip-path: polygon(85% 0, 100% 0,100% 100%, 0 100% );
}

/*MESA VERDE*/

.mesa-verde{
  width: 140px;
  height: 140px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.mesa-verde-salida{
  width: 120px;
  height: 120px;
  position: absolute;
  right: 0;
  bottom: 0;
  background:rgba(0, 255, 0, 0.5);
  display: grid;
  gap: 10%;
  place-items: center;
  place-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.mesa-verde-salida > div{
  border: 1px solid rgb(0, 255, 0);
  border-radius: 50%;
  width:20px;
  height: 20px;
  text-align: center;
}

.mesa-verde-camino{
  width: 100%;
  height: 100%;
  position: relative;
}

.mesa-verde-camino-1{
  display: flex;
  transform: rotate(180deg);
  width: 100%;
  height: 20px;
}

.mesa-verde-camino-1 > div{
  width: calc(100% / 6);
  border: 1px solid rgb(0, 255, 0);
}

.mesa-verde-camino-1-parte-28{
  background: rgb(0, 255, 0);
}

.mesa-verde-camino-1-parte-31{
  clip-path: polygon(0 0, 15% 0, 100% 100%, 0 100%);
}

/*PARTE DOS*/

.mesa-verde-camino-2{
  width: 20px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.mesa-verde-camino-2 > div{
  height: calc(100% / 6);
  border: 1px solid rgb(0, 255, 0);
}

.mesa-verde-camino-2-parte-35{
  background: rgb(0, 255, 0);
}

.mesa-verde-camino-2-parte-32{
  clip-path: polygon(0 0, 100% 85%, 100% 100%, 0 100%);
}

/*MESA MORADA*/
.mesa-morada{
  width: 140px;
  height: 140px;
  position: absolute;
  bottom: 0;
  left: 0;
  
}

.mesa-morada-salida{
  background: rgba(106, 0, 255,0.5);
  width: 120px;
  height: 120px;
  bottom: 0;
  left: 0;
  position: absolute;
  display: grid;
  gap: 10%;
  place-items: center;
  place-content: center;
  grid-template-rows: auto auto;
  grid-template-columns: auto auto;
}

.mesa-morada-salida > div{
  border:1px solid rgb(106, 0, 255);
  border-radius: 50%;
  width:20px;
  height: 20px;
  text-align: center;
}

.mesa-morada-camino{
  width: 100%;
  height: 100%;
  position: relative;
}

.mesa-morada-camino-1{
  width: 20px;
  height: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(180deg);
}

.mesa-morada-camino-1 > div{
  border: 1px solid rgb(106, 0, 255);
  height: calc(100% / 6);
}

.mesa-morada-camino-1-parte-40{
  background: rgb(106, 0, 255);
}

.mesa-morada-camino-1-parte-43{
  clip-path: polygon(0 0, 100% 0, 100% 15%, 0 100%);
}

/*PARTE DOS*/
.mesa-morada-camino-2{
  width: 100%;
  height: 20px;
  display: flex;
  transform: rotate(180deg)
}

.mesa-morada-camino-2 > div{
  border: 1px solid rgb(106, 0, 255);
  width: calc(100% / 6);
}

.mesa-morada-camino-2-parte-47{
  background: rgb(106, 0, 255);
}

.mesa-morada-camino-2-parte-44{
  clip-path: polygon(85% 0, 100% 0, 100% 100%, 0 100%);
}


/*MESA LLEGADA*/

.mesa-llegada{
  width:100%;
  height: 100%;
  position: absolute;
  top: 0;
}

/*MESA LLEGADA ROJA*/
.mesa-llegada-roja{
  width: 20px;
  height: 145px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mesa-llegada-roja > div{
  border: 1px solid rgb(255, 0, 0);
  height: calc(100% / 6);
  background: rgba(255, 0, 0, 0.5);
}

.mesa-llegada-roja-parte-6{
  clip-path: polygon(0 0, 100% 0, 100% 85%, 50% 100%, 50% 100%, 0 85%);
  
}

.mesa-llegada-roja-piezas-ganadora{
  width:90px;
  height:20px;
  position: absolute;
  top: 5px;
  left: 5px;
  background: red;
  display: none;
  justify-content: space-evenly;
  align-items: center;
}

.mesa-llegada-roja-piezas-ganadora > div{
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: blue;
}

/*MESA LLEGADA AZUL*/
.mesa-llegada-azul{
  display: flex;
  width:145px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}

.mesa-llegada-azul > div{
  background: rgba(0, 0, 255, 0.5);
  width: calc(100% / 6);
  border: 1px solid rgb(0, 0, 255);
}

.mesa-llegada-azul-parte-6{
  clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%, 0% 50%);
  border-bottom: 1px solid red;
}

.mesa-llegada-azul-piezas-ganadoras{
  width: 90px;
  height: 20px;
  top: 5px;
  right: 5px;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: space-evenly;
}

.mesa-llegada-azul-piezas-ganadoras > div{
  border-radius: 50%;
  width: 20px;
  height: 20px;
}